name: Snapshot Build / 快照构建

on:
  push:
    branches:
      - main  # 假设您的主分支是 main

jobs:
  mctoast-snapshot-builder:
    runs-on: ubuntu-latest

    steps:
    - name: 检查代码
      uses: actions/checkout@v4

    - name: 设置 Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel build colorama Pillow
    
    - name: 填充 FFmpeg
      run: |
        sudo apt install -y aria2 unzip
        aria2c https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-lgpl.zip -o ffmpeg.zip
        unzip -j ffmpeg.zip '*/bin/ffmpeg.exe' -d console_player_tools/

    - name: 构建
      run: |
        python setup.py bdist_wheel
        python setup.py bdist_wheel --have-ffmpeg
        python setup.py bdist_wheel --others
        python setup.py sdist

    - name: 上传 Artifact noffmpeg版本
      uses: actions/upload-artifact@v4
      with:
        name: consoleplay-snapshot-windows-noffmpeg
        path: dist/console_player_noffmpeg*.whl
    
    - name: 上传 Artifact windows版本
      uses: actions/upload-artifact@v4
      with:
        name: consoleplay-snapshot-windows
        path: dist/console_player*-win_amd64.whl

    - name: 上传 Artifact 其他版本
      uses: actions/upload-artifact@v4
      with:
        name: consoleplay-snapshot-linux
        path: dist/console_player*-any.whl

    - name: 上传 Artifact 源代码
      uses: actions/upload-artifact@v4
      with:
        name: mctoast-snapshot-source
        path: dist/*.tar.gz
      
